$font-family: Roboto, Ubuntu, 'Segoe UI', 'Helvetica Neue', 'Noto Sans', Arial,
  sans-serif;
$font-color: rgba(0, 0, 0, 0.87);
$background-color: rgb(250, 250, 250);

$bg-dark: #31353d;
$fg-dark: #c1c1c1;
